*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* ---texto 1 --- */
div.texto1-monitor{
  margin: 0 auto;
  max-width: 1120px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 800;
}

div.texto1-monitor p span.textodestaque{
  color: #16bde1;
}

@media(max-width:600px){
  div.texto1-monitor{
    font-size: 20px;
  }
}

/* ---fim texto 1 --- */

/* ---texto 2 --- */
div.texto2{
  margin: 0 auto;
  max-width: 780px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 22px;
  background-color: #16bde1;
  color: white;
  padding: 20px;
  border-radius: 20px;

}

@media(max-width:20px){
  div.texto2{
    font-size: 14px;
  }
}

/* ---fim texto 2 --- */

/* ---imagem --- */

div.imagem picture img,
div.imagem picture source{
  margin-top: 24px;
}

/* ---fim imagem --- */

/* --- vídeo VSL --- */

div.video-vsl{
  box-shadow: 0 0 10px rgba(22,189,225,0.9);
}

div.smartplay-wrapper{
  background-color: rgba(22,189,225,0.6) !important;
}

div.smartplayer-fake-bar{
  background-color: #16bde1 !important;
}



/* --- fim vídeo VSL --- */

/* --- texto3 --- */
div.texto3{
  margin-top: 18px;
  font-size: 18px;
  padding-bottom: 40px;
}
/* ---fim texto3 --- */

/* --- btn-comprar-agora --- */

div.comprar{
  position: relative;
  margin: 0 auto;
  /*margin-top: 40px; */
  margin-bottom: 70px;
  max-width: 600px;
  display: none;
}

div.btn-comprar-agora{
  margin-top: 20px;
}

div.btn-comprar-agora a.btn-comprar-agora-ahref{
  font-size: 27px;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  margin-left: -20px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;

}

div.comprar img.mouse-click-btn-comprar{
  position: absolute;
  top: -12px;
  left: calc(50% - 160px);
  z-index: -1;
}

/* --- fim btn-comprar-agora --- */

/* --- depoimentos --- */

div.depoimentos{
  margin: 50px auto;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  display: none;
}

div.depoimentos div.depoimento1,
div.depoimentos div.depoimento2,
div.depoimentos div.depoimento3,
div.depoimentos div.depoimento4{
  flex: 0 0 auto;
  width: 25%;
  box-shadow: 0 0 10px rgba(22,189,225,0.9);
  margin-left: 20px;
}


@media(max-width: 1050px){
  div.depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  div.depoimentos div.depoimento1,
  div.depoimentos div.depoimento2,
  div.depoimentos div.depoimento3,
  div.depoimentos div.depoimento4{
    margin-top: 10px;
    width: 90%;
    box-shadow: none;
    margin-left: 0px;
  }

}

/* --- fim - depoimentos --- */

/* --- acessar o programa agora --- */
a.acessar-programa{
  display: none;
}


/* --- fim acessar o programa agora --- */

/* --- revista científica --- */
div.referencias-cientificas{
  display: none;
}

div.referencias-cientificas img{
  margin-top: 0px;
}

@media(max-width: 1209px){
  div.referencias-cientificas img{
    width: 95%;
  }
}

/* --- fim revista científica --- */

/* --- copyright --- */

div.copyright{
  display: none;
}

div.copyright p{
  margin: 0 auto;
  max-width: 500px;
  margin-top: 40px;
  background-color: #16bde1;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

/* --- fim copyright --- */

/* --- texto final --- */

div.texto-final{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  margin-bottom: 30px;
  display: none;
}

div.texto-final p a{
  color: black;
  text-decoration: none;
}

/* --- fim texto final --- */









/* div.esconder{
  display: none;
} */
